body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-width:420px;
}

h1{
    color: red;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 1rem;

    
}
 nav a {
    text-decoration: none;
    color: black;
    margin-top: 1rem;
}

 nav a:hover {
    color:red;
}

header h1, header div {
    width: 30%;
}

input {
    padding: 0.5rem;
    padding-right: 2rem;
    background-image: url("https://w7.pngwing.com/pngs/608/913/png-transparent-computer-icons-google-search-symbol-mobile-search-search-for-miscellaneous-logo-mobile-phones-thumbnail.png");
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 11.8rem;

}


.notification-icon {
    font-size: 1.2rem;
}

.user-avatar {
    width: 2.5rem;
    border-radius: 100%;
}

.access-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

main {
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

main h2 {
    font-size: 2rem;
    margin-bottom: 5px;
}
.fa-star {
    color:orangered;
}

.age {
    border: 1px solid grey;
    padding: 0 5px;
    border-radius: 5px;
}

.description {
    width: 50%;
}

.text-red {
    color: orangered;
    ;
}

.info-section {
    display: flex;
    gap: 1.5rem;
    
}

.btn {
  width: 170px;
  height: 60px;
  
  border: 1px solid orangered;  
  border-radius: 10px;  
  background-color: orangered;
  color:white;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 1.5rem;
  padding-right: 0;
 
}

.details {
    margin: 4px;
}

.btn i {
    margin: 5px 10px 5px -2rem;
    font-size: 1.4rem;
}

.play-now {
    margin: 5px 10px 5px 5px;
}

.banner-main {
   display:flex;
    justify-content: space-between;
    margin: 15px 20px;
}



/*section*/

section {
    margin: 1rem;
    margin-bottom: 3rem;
    padding: 2rem;
}

.section-content, .section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.card {
    width:65%;
    aspect-ratio: 2/1;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    margin:0;
    
}



.btn-l {
    width: 150px;
  height: 50px;
  padding-right: 0; 
  border-radius: 10px;  
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1.5rem;

}

.btn-l i{
    margin: 5px 10px 5px -2rem;
    font-size: 1.4rem;
}

.card h4 {
    font-size: 1.5rem;
}



/*footer*/

footer {
    display: flex;
    justify-content: space-between;
    gap:1rem;
    align-items: flex-start;
    margin-left: 14px;
    
}

 nav {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 15px;
    
}

 nav a {
    text-decoration: none;
    color: black;
}

.footer-description {
    width:90%;
    margin-top: 10px;
}


footer p:nth-child(n+1) {
    margin-top: 0;
    
}

footer img {
    height: 3rem;
    margin-top: -0.5rem;
}

footer div:first-child {
    flex-basis: 70%;
    flex-grow: 1;
    
}

footer div {
    flex-basis: 30%;
}


@media (max-width:1000px) {
    .description{
        width: 100%;
    }

    header{
        flex-wrap: wrap;
    
    }

    
    header nav {
        order:3;
        width: 100%;
        justify-content: center;
    
    
    }
    
    /*.section-content {
        overflow:auto;
    }*/

    section {
        margin: 1rem;
    margin-bottom: 3rem;
    padding: 0;
    }

    .section-content, .section-header{
        display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0;
    gap: 0.5rem;
    }

    .card {
    width:45%;
    padding: 1rem;
    }
    

    footer {
        flex-direction: column-reverse;
        margin-left: 14px;
    }

    main h2 {
        font-size: 1.5rem;
    }

    
}